{% extends "layout.html" %}
{% block content %}
<div id="download_div">
    <h3 id="page_nm_download">Download</h3>
    <a href="{{ url_for('.download_file', filelink=current_app_version.current_version_filename) }}">
        <div id="current_version_download_link">
            <p>
                Download {{ current_app_version.current_version_no }}
            </p>
        </div>
    </a>
    <p>Downloads: {{ current_app_version.current_version_download_amount }}</p>
    <p>To download the current version, please click the link above.</p>
    <br>
    <p>If you would like to download an older version, please choose one from the list below:</p>
    {% for item in old_app_versions_list %}
        <div id="old_downloads_list">
            <p class="download_list_item">{{ item.app_version_no }}</p>
            <p class="download_list_item">Downloads: {{ item.app_download_amount }}</p>
            <div class="download_old_version_links">
                <a href="{{ url_for('.download_file', filelink=item.app_filename) }}">
                    Download
                </a>
            </div>
        </div>
    {% endfor %}
    <p>If you cannot install the app, go to your phone's Security and Biometrics settings and enable app installation</p>
    <p>for your browser and your phone's files under "Install unknown apps".</p>
</div>
{% endblock %}